<div class="block">
    <h3 class="title light"><%= locale.MAIN.BEST %> <%= locale.MAIN.CHALLENGES %></h3>
    <div class="gallery">
        <% if(challenges.length === 0) { %>
            <div class="al al-danger"><%= locale.P_CHALLENGES.NOT_FOUND %></div>
        <% } else { %>
            <% for(var i=0; i < challenges.length; i++) { %>
                <div class="gallery-block col-3">
                    <div class="gallery-image gradient">
                        <img class="lazy" data-src="<%= challenges[i].pp.get(0).url %>" alt="" src="/images/pix.gif" />
                    </div>
                    <div class="gallery-title">
                        <a href="<%= challenges[i].href %>"><%= challenges[i].fullName %></a>
                    </div>
                    <div class="gallery-desc">
                        <p>
                            <%= challenges[i].description %>
                        </p>
                    </div>
                </div>
            <% } %>
        <% } %>
        <div class="clear"></div>
        <div class="gallery-end">
            <a href="/challenges"><button class="form-button"><%= locale.MAIN.MORE %></button></a>
        </div>
    </div>
</div>