<div class="fp-main">
    <div class="fp-header"><%= locale.P_REGISTER.TITLE %></div>
    <div class="fp-content">
        <% if (typeof success === 'string') { %>
            <div class="al al-success">
                <%= success %>
                <meta http-equiv="refresh" content="1;URL='/'" />    
            </div>
        <% } %>
        <% if (typeof error === 'string') { %>
            <div class="al al-danger">
                <%= error %>
            </div>
        <% } %>
        <div class="rg-connect">
            <a href="#" class="rg-with rg-google disabled">
                <div class="rg-icon"><i class="fa fa-google" aria-hidden="true"></i></div>
                <div class="rg-text"><%= locale.format(locale.MAIN.CONNECT_WITH, 'Google') %></div>
            </a>
            <a href="#" class="rg-with rg-facebook disabled">
                <div class="rg-icon"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                <div class="rg-text"><%= locale.format(locale.MAIN.CONNECT_WITH, 'Facebook') %></div>
            </a>
            <a href="#" class="rg-with rg-apple disabled">
                <div class="rg-icon"><i class="fa fa-apple" aria-hidden="true"></i></div>
                <div class="rg-text"><%= locale.format(locale.MAIN.CONNECT_WITH, 'Apple') %></div>
            </a>
        </div>
        <p class="or-text"><%= locale.MAIN.OR.toUpperCase() %></p>
        <form method="post" action="/register" autocomplete="off">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-group">
                <label for="name"><%= locale.MAIN.NAME %></label>
                <input type="text" class="form-input" name="name" id="name" required value="<%= (typeof fields === 'object') ? fields.name : '' %>" />
            </div>
            <div class="form-group">
                <label for="email"><%= locale.MAIN.EMAIL%></label>
                <input type="text" class="form-input" name="email" id="email" required value="<%= (typeof fields === 'object') ? fields.email : '' %>" />
            </div>
            <div class="form-group">
                <label for="password"><%= locale.MAIN.PASSWORD %></label>
                <input type="password" class="form-input" name="password" id="password" required />
            </div>
            <div class="form-group-centered">
                <button type="submit" class="form-button"><%= locale.MAIN.REGISTER %></button>
            </div>
            <div class="form-group-centered form-group-info">
                <p>By registering an account, you are agreeing to our <a href="#">Privacy Policy</a>, <a
                        href="#">Terms of Service</a> and <a href="#">Cookie Policy</a>.</p>
            </div>
            <div class="form-group-centered form-group-info">
                Already have an account? <a href="login.html">Login</a>
            </div>
        </form>
    </div>
</div>